<mat-toolbar color="primary">
    <app-container>
        <div class="container-cabecalho">
            <div class="cabecalho">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Mirandev</span>
            </div>
            <div class="mode-container">
                <mat-icon class="escuro">light_mode</mat-icon>
                <mat-slide-toggle color="accent" [formControl]="control" (toggleChange)="toggle()"></mat-slide-toggle>
                <mat-icon class="luz">dark_mode</mat-icon>
            </div>
        </div>
    </app-container>
</mat-toolbar>