<div class="container">
    <!-- <app-form-anotacao></app-form-anotacao> -->
    <!-- <app-container>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
    </app-container> -->
</div>


<div class="container">
    <h2>Lembretes</h2>
    <app-container>
        <app-card-anotacao *ngFor="let anotacao of anotacoes" [anotacao]="anotacao"></app-card-anotacao>
        <mat-card class="botao-acrescentar" (click)="novaAnotacao()" matTooltip="Adicionar novo Lembrete"
            matTooltipPosition="above"><mat-icon>add</mat-icon></mat-card>
    </app-container>
</div>