@use '@angular/material' as mat;
@use './theme/myTheme.scss' as my;

@include mat.core();

@mixin theme-dark($color1, $color2, $color3) {

  $ultilidades-theme: mat.define-dark-theme((color:(primary:$color1,
          accent:$color2,
          warn:$color3,
        )));

  @include mat.all-component-themes($ultilidades-theme);
}

@mixin theme-light($color1, $color2, $color3) {
  $ultilidades-theme: mat.define-light-theme((color:(primary:$color1,
          accent:$color2,
          warn:$color3,
        )));

  @include mat.all-component-themes($ultilidades-theme);
}

// Dark theme variables
$dark-bg-color: #222;
$semi-dark-bg-color: #333;
$light-text-color: #cacaca;

// Light theme variables
$light-bg-color: #d2d2d2;
$semi-light-bg-color: #c0c0c0;
$dark-text-color: #333;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  z-index: 1;
}


.tema1 {
  $ultilidades-primary: mat.define-palette(my.$ciano-palette, 200);
  $ultilidades-accent: mat.define-palette(my.$carmesim-palette, 700);
  $ultilidades-warn: mat.define-palette(mat.$red-palette);

  &.dark {
    @include theme-dark($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }

  &.light {
    @include theme-light($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }
}

.tema2 {
  $ultilidades-primary: mat.define-palette(my.$violeta-palette, 400);
  $ultilidades-accent: mat.define-palette(my.$amarelo-palette, 500);
  $ultilidades-warn: mat.define-palette(mat.$red-palette);

  &.dark {
    @include theme-dark($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }

  &.light {
    @include theme-light($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }
}

.tema3 {
  $ultilidades-primary: mat.define-palette(my.$mostarda-palette, 800);
  $ultilidades-accent: mat.define-palette(mat.$teal-palette, 600);
  $ultilidades-warn: mat.define-palette(mat.$red-palette);

  &.dark {
    @include theme-dark($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }

  &.light {
    @include theme-light($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }
}

.tema4 {
  $ultilidades-primary: mat.define-palette(my.$cinza-palette, 300);
  $ultilidades-accent: mat.define-palette(mat.$deep-orange-palette, 600);
  $ultilidades-warn: mat.define-palette(mat.$red-palette);

  &.dark {
    @include theme-dark($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }

  &.light {
    @include theme-light($ultilidades-primary, $ultilidades-accent , $ultilidades-warn );
  }
}






.dark {
  background-color: #333;
  color: $light-text-color;
}